
<select name="site-name" onchange="location = this.options[this.selectedIndex].value;">
        <option value="{{base.url}}" selected>
             LATEST NEWS
        </option>

        <option value="{{base.url}}/css-tricks">
             CSS-TRICKS
        </option>

        <option class="abhi" value="{{base.url}}/david-walsh">
             DAVID WALSH
        </option>

        <option class="abhi" value="{{base.url}}/treehouse-blog">
            TREEHOUSE BLOG
        </option>

        <option class="abhi" value="{{base.url}}/codrops">
            CODROPS
        </option>

        <option value="{{base.url}}/site-point">
            SITEPOINT
        </option>

        <option value="{{base.url}}/a-list-apart">
            A LIST APART
        </option>

        <option value="{{base.url}}/smashing-mag">
            SMASHING MAGAZINE
        </option>

        <option value="{{base.url}}/html5-rocks">
            HTML5 ROCKS
        </option>

        <option value="{{base.url}}/netmag">
            NET MAG
        </option>

</select>